.intro {
    padding: 25rem 0 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba(40, 54, 67, 1),
     rgba(14, 24, 33, 0.8)),
     url("../../img/oven-cleaning/taha-sas-kSCAjbe0Qrg-unsplash.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

    &__oven {
        color: #95d6fe;
    }

    h1 {
        font-size: 8rem;
        color: #fff;
        font-family: 'Archivo Black', sans-serif;
        margin-bottom: 2rem;

        @media only screen and (max-width: 960px) {
            font-size: 6rem;
        }
    }

    h2 {
        font-size: 4rem;
    }

    &__pic {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        width: 100%;

        @media only screen and (max-width: 960px) {
            margin-top: 5rem;
        }
    }
}