.tenancy-intro {
    padding: 30rem 0 15rem 0;
    background-image: linear-gradient(to right bottom,
    rgba(40, 54, 67, 1),
     rgba(14, 24, 33, 0.8)),
     url("../../img/tenancy/deborah-cortelazzi-gREquCUXQLI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;

    &__oven {
        color: #95d6fe;
    }

    h1 {
        font-size: 8rem;
        color: #fff;
        font-family: 'Archivo Black', sans-serif;
        margin-bottom: 2rem;

        @media only screen and (max-width: 960px) {
            font-size: 6rem;
        }
    }

    h2 {
        font-size: 8rem;
        color: #fff;
    }

    p {
        font-size: 3rem;
    }

    &__pic {
        width: 50%;

        @media only screen and (max-width: 960px) {
            margin-top: 5rem;
        }
    }
}