.priceCard-row {
    margin-bottom: 5rem;

    @media only screen and (max-width: 960px) {
        margin-bottom: 0;
    }

}

.priceCard-div {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #000;

    @media only screen and (max-width: 960px) {
        margin-bottom: 5rem;
    }

}

.priceCard {

    &__card {
        background-color: #000;

    }

    &__items {

        list-style: none;
        font-size: 3rem;
        text-align: center;
    }
}