.headLogo {
    @media only screen and (max-width: 960px) {
        margin-bottom: 5rem;
    }
}

.hero {
    background-image: linear-gradient(to right bottom,
     rgba(40, 54, 67, 1),
      rgba(14, 24, 33, 0.8)),
       url("../../img/home/naomi-hebert-MP0bgaS_d1c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

    &__header {
        padding-top: 15rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media only screen and (max-width: 960px) {
            padding-top: 18rem;
        }

        @media only screen and (max-width: 600px) {
            padding-top: 20rem;
        }

        h1 {
            font-size: 12rem;
            color: #fff;
            font-family: 'Archivo Black', sans-serif;
            line-height: 15rem;

            @media only screen and (max-width: 960px) {
                font-size: 10rem;
            }
        }

        h2 {
            font-size: 5rem;
        }

        p {
            font-size: 3rem;
            color: #fff;
            margin: 5rem 0;

            @media only screen and (max-width: 700px) {
                font-size: 5rem;
            }
        }
    }

}

.black {
    color: #95d6fe;
}

.logo-3d {
    width: 110%;
}