.reputation {
    padding: 10rem 0 10rem 0;

    &__heading {

        h2 {
            font-size: 5rem;
            color: #d4af37;

            @media only screen and (max-width: 700px) {
                font-size: 6rem;
            }
        }


        @media only screen and (max-width: 960px) {
            margin-bottom: 5rem;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @media only screen and (max-width: 960px) {
            align-items: center;
        }

        h2 {
            font-size: 5rem;
            align-self: center;
            color: #d4af37;

            @media only screen and (max-width: 960px) {
                align-self: flex-start;
                margin: 10rem 0;
            }

            @media only screen and (max-width: 700px) {
                font-size: 6rem;
            }
        }

        ul {
            font-size: 3rem;
            list-style: none;

            @media only screen and (max-width: 700px) {
                font-size: 4rem;
            }
        }
        
    }

    &__img {


        &--pic {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            width: 100%;
        }
    }
}

.reputation svg {
    font-size: 5rem;
    height: 10rem;
    color: #d4af37;
    margin-right: 2rem;

    @media only screen and (max-width: 700px) {
        font-size: 8rem;
    }
}