@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko:wght@300;400;500;600;700&display=swap');

@import "components/areas/Areas";
@import "components/areas/Intro";

@import "components/commercial/Intro";
@import "components/commercial/Pub";
@import "components/commercial/Video";

@import "components/contact/Contact";
@import "components/contact/ContactCard";
@import "components/contact/ContactForm";
@import "components/contact/Intro";

@import "components/covid/Intro";

@import "components/AwardLogo";
@import "components/FamilyLogo";
@import "components/Footer";
@import "components/Modal";
@import "components/PriceLogo";

@import "components/family/Companies";
@import "components/family/Intro";

@import "components/franchise/Franchise";
@import "components/franchise/Intro";

@import "components/home/About";
@import "components/home/Family";
@import "components/home/Hero";
@import "components/home/Reputation";

@import "components/oven/Intro";
@import "components/oven/OvenPrice";
@import "components/oven/Training";
@import "components/oven/What";
@import "components/oven/Why";

@import "components/Navigation";
@import "components/SiteButton";
@import "components/SiteButtonSmall";

@import "components/tenancy/Desc";
@import "components/tenancy/Intro";
@import "components/tenancy/PriceCard";
@import "components/tenancy/Pricing";

@import "components/testimonials/Intro";
@import "components/testimonials/Testimonial";
@import "components/testimonials/TestimonialCard";
//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: 900px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 700px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 500px) {
    font-size: 35%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 30%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 25%;
  }

  @media only screen and (max-width: 300px) {
    font-size: 20%;
  }
}

.body {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  background-color: #231f20;
  color: #95d6fe;
}

