//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
}

.navbar {
  background-color: #231f20;
}

.logo {
  width: 12rem;
  height: 8rem;
}

.covid {
  width: 5rem;
  height: 5rem;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar-dark {

  .navbar-nav {

    .nav-link {
      font-size: 1.6rem;
      color: #fff;
    }
  }
}

.logo-big {
  width: 100%;
}

.a-link {
  font-size: 1.6rem;
  color: #858383;
}